.vscode
__pycache__

# pycharm
.idea

# vim
*.swo
*.swp

.DS_Store

# python
*.pyc

# postgresql data store
Django/how_to_django/mysite_data/*
!Django/how_to_django/mysite_data/postgresql.conf

# Django
migrations

# etc
*.lock


